# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations


## Platform rules
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
docs/ @hmcts/platform-operations
bin/ @hmcts/platform-operations
renovate.json @hmcts/platform-operations

## application rules

apps/rpe/ @hmcts/platform-operations
apps/camunda/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/admin/ @hmcts/platform-operations

### Bulk Print
apps/bsp/rpe-send-letter-service/ @hmcts/bulk-print

##CCD
apps/ccd/ @hmcts/cdm
apps/slack-help-bot/ccd-slack-help-bot/ @hmcts/cdm
apps/slack-help-bot/cs-slack-help-bot/ @hmcts/cdm

##AAC - CDM
apps/aac/ @hmcts/cdm

##HMC - CDM
apps/hmc/ @hmcts/cdm

##CPO - CDM
apps/cpo/ @hmcts/cdm

##CMC
apps/money-claims/ @hmcts/cmc

## I&A
apps/ia/ @hmcts/immigration-asylum

## Divorce
apps/divorce/ @hmcts/divorce

## Financial Remedy
apps/financial-remedy/ @hmcts/financial-remedy

## Document Generation
apps/dg/ @hmcts/dts-dev @hmcts/evidence

## Document Management
apps/dm-store/ @hmcts/evidence

## Evidence Management
apps/em/ @hmcts/evidence
apps/slack-help-bot/em-slack-help-bot/ @hmcts/evidence

## Probate
apps/probate/ @hmcts/probate

## Reference Data
apps/rd/ @hmcts/ref-data
apps/slack-help-bot/rd-slack-help-bot/ @hmcts/ref-data

## SSCS
apps/sscs/ @hmcts/sscs

## FPLA
apps/family-public-law/ @hmcts/fpl-admins

### Adoption
apps/adoption/ @hmcts/reform-adoption

## cc-pay
apps/fees-pay/ @hmcts/fees-pay
apps/slack-help-bot/ccpay-slack-help-bot/ @hmcts/fees-pay

## bar
apps/bar/ @hmcts/fees-pay

# IDAM
apps/idam/ @hmcts/idam
apps/slack-help-bot/idam-slack-help-bot/ @hmcts/idam

## AM
apps/am/ @hmcts/am-devs
apps/slack-help-bot/am-slack-help-bot/ @hmcts/am-devs

## Ethos
apps/ethos/ @hmcts/ethos

### Bulk scan
apps/bsp/ @hmcts/bulk-scan

### BSP but separate namespace and identity
apps/reform-scan/ @hmcts/bulk-scan

### XUI
apps/xui/ @hmcts/xui
apps/slack-help-bot/xui-slack-help-bot/ @hmcts/xui

### PCQ
apps/pcq/ @hmcts/pcq-admins

### LAU
apps/lau/ @hmcts/lau-admins

### Disposer
apps/disposer/ @hmcts/lau-admins
apps/ccd/ccd-case-disposer/ @hmcts/lau-admins

### CUI-RA
apps/cui/ @hmcts/lau-admins

### Civil
apps/civil/ @hmcts/civil-admins

### WORK ALLOCATION
apps/wa/ @hmcts/work-allocation
apps/slack-help-bot/wa-slack-help-bot/ @hmcts/work-allocation

### FACT
apps/fact/ @hmcts/fact
apps/slack-help-bot/fact-slack-help-bot/ @hmcts/fact

### NO FAULT DIVORCE
apps/nfdiv/ @hmcts/no-fault-divorce

### PRL
apps/private-law/ @hmcts/private-law

### ET
apps/et/ @hmcts/employment-tribunals

### Pet Apps
apps/et-pet/ @hmcts/pet-developers
apps/help-with-fees/ @hmcts/pet-developers

### Tribunals Apps
apps/tax-tribunals/ @hmcts/tribunals-pet

## TS - CDM
apps/ts/ @hmcts/cdm

### FIS
apps/fis/ @hmcts/family-integration

### ST
apps/sptribs/ @hmcts/special-tribunals

### DTSSE
apps/dtsse/ @hmcts/rse

### CAPABILITY ONBOARDING
apps/slack-help-bot/cot-slack-help-bot/ @hmcts/cme

### PCS
apps/pcs/ @hmcts/possession-claim-service

### Add new changes here
### POSSESSIONS ONBOARDING
apps/slack-help-bot/pofcc-slack-help-bot/ @hmcts/possessions-support

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

## Labs - everyone
apps/labs/

### Disabled rules for renovate automerge
jenkins-azure-vm-agent.yaml
jenkins-controller-version.yaml

### Do not add after this, add before Kustomization control
