# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/cnp-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-engineering @hmcts/devops

# AAT applications
## environment rules
k8s/aat/ @hmcts/platform-engineering @hmcts/devops

## application rules

k8s/admin/ @hmcts/platform-engineering @hmcts/devops
k8s/kured/ @hmcts/platform-engineering @hmcts/devops
k8s/neuvector/ @hmcts/platform-engineering @hmcts/devops
k8s/**/cluster-*-overlay/ @hmcts/platform-engineering

### Next team

# Production applications
## environment rules
k8s/prod/ @hmcts/production-apps-approvals

## application rules

### RPE
k8s/**/common/rpe/namespace.yaml @hmcts/platform-engineering
k8s/**/common/rpe/identity.yaml @hmcts/platform-engineering
k8s/**/common/rpe/draft-store-service.yaml @hmcts/platform-engineering
k8s/aat/common/rpe/rpe-service-auth-provider.yaml @hmcts/platform-engineering
k8s/aat/common/rpe/pdf-service.yaml @hmcts/platform-engineering

k8s/*/*-base/kustomization.yaml @hmcts/platform-engineering

k8s/**/common/neuvector/fluentbit-log.yaml @hmcts/platform-engineering
k8s/**/common/neuvector/nv-storage-secret.yaml @hmcts/platform-engineering
k8s/**/common/neuvector/identity.yaml @hmcts/platform-engineering

### Next team

##ccd-demo
k8s/demo/common/ccd/*.yaml @hmcts/ccd-demo

##CMC
k8s/aat/common/money-claims/claim-store.yaml @hmcts/cmc

## I&A
k8s/**/common/ia/namespace.yaml @hmcts/immigration-asylum
k8s/**/common/ia/identity.yaml @hmcts/immigration-asylum
k8s/aat/common/ia/case-documents-api.yaml @hmcts/immigration-asylum

## Divorce
k8s/**/common/divorce/namespace.yaml @hmcts/divorce
k8s/**/common/divorce/identity.yaml @hmcts/divorce
k8s/aat/common/divorce/div-emca.yaml @hmcts/divorce
k8s/aat/common/divorce/div-cms.yaml @hmcts/divorce
k8s/aat/common/divorce/div-dgs.yaml @hmcts/divorce
k8s/aat/common/divorce/div-cos.yaml @hmcts/divorce
k8s/aat/common/divorce/div-fps.yaml @hmcts/divorce

## Probate
k8s/**/common/probate/namespace.yaml @hmcts/probate
k8s/**/common/probate/identity.yaml @hmcts/probate
k8s/aat/common/probate/business-service.yaml @hmcts/probate

## Reference Data
k8s/**/common/rd/namespace.yaml @hmcts/ref-data
k8s/**/common/rd/identity.yaml @hmcts/ref-data
k8s/aat/common/rd/professional-api.yaml @hmcts/ref-data

## SSCS
k8s/**/common/sscs/namespace.yaml @hmcts/sscs
k8s/**/common/sscs/identity.yaml @hmcts/sscs
k8s/aat/common/sscs/sscs-tribunals-api.yaml @hmcts/sscs
k8s/aat/common/sscs/sscs-evidence-share.yaml @hmcts/sscs

## FPLA
k8s/**/common/family-public-law/namespace.yaml @hmcts/fpl-admins
k8s/**/common/family-public-law/identity.yaml @hmcts/fpl-admins
k8s/aat/common/family-public-law/fpl-case-service.yaml @hmcts/fpl-admins

## cc-pay
k8s/**/common/ccpay/namespace.yaml @hmcts/Fees
k8s/**/common/ccpay/identity.yaml @hmcts/Fees
k8s/aat/common/ccpay/ccpay-bulkscanning-app.yaml @hmcts/Fees
